<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>246564997853-s8449r8jq7vifn2jchi1m6k86m4qgqli.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.246564997853-s8449r8jq7vifn2jchi1m6k86m4qgqli</string>
	<key>API_KEY</key>
	<string>AIzaSyBXBZdqov150Oq8iHjRO0CA_HB-vqeoi5k</string>
	<key>GCM_SENDER_ID</key>
	<string>246564997853</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutter-fcm-push-notify.stg</string>
	<key>PROJECT_ID</key>
	<string>flutter-sample-project-b0d18</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-sample-project-b0d18.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:246564997853:ios:32594c66fc0449c5366934</string>
</dict>
</plist>